@import "../../assets/consts.scss";

$about-us-padding: 100px;
$about-us-img-width: 200px;

.no-max-width {
  max-width: unset;
}

.about-us-section {
  margin-top: calc(#{$page-margin-top} * 1.2);
  margin-bottom: calc(#{$page-margin-top} / 2);
  padding-left: $about-us-padding;
}

.rtl-content {
  .about-us-section {
    //margin-top: calc(#{$page-margin-top} * 1.2);
    //margin-bottom: $page-margin-top;
    padding-left: unset;
    padding-right: $about-us-padding;
  }
}

@media (max-width: $screen-breakpoint-md) {
  //.about-us-section {
  //  padding-left: calc(#{$about-us-padding});
  //}
  //
  //.rtl-content {
  //  .about-us-section {
  //    padding-right: calc(#{$about-us-padding} / 2);
  //  }
  //}
}

.about-us-img {
  position: absolute;
  width: $about-us-img-width;
}


@media (max-width: $screen-breakpoint-md) {
  .about-us-img {
    position: absolute;
    width: calc(#{$about-us-img-width} / 2);
  }
}

.about-us-img-en {
  left: 0;
}

.about-us-img-ar {
  right: 0;
}
