@import "../../assets/consts.scss";

.no-max-width {
  max-width: unset;
}

.front-section {
  margin-top: calc(#{$page-margin-top} * 2);
  margin-bottom: $page-margin-top;
}

.welcome-message {
  font-size: 2.2rem;
  color: #185689;
}

@media (max-width: $screen-breakpoint-lg) {
  .welcome-message {
    font-size: 1.5rem;
  }
}

.row-only-in-sm {

}

@media (max-width: $screen-breakpoint-md) {
  .row-only-in-sm {
    display: block;
  }
}

.section-card {
  box-shadow: unset;
}

.about-card-image {
  max-height: 7rem;
}

@media (max-width: $screen-breakpoint-lg) {
  .card-image {
    max-height: 5.9rem;
  }
}

.card-title {

}