@import "../../assets/consts.scss";

.logo-img {
  max-height: 115px;
}

.auth-bg {
  background: url(../../assets/img/bg/auth.png);
}

.underlined {
  border-bottom: 1px solid;
}

.white-border {
  border-color: white;
}

.select-wrapper.white > label.mdb-main-label.active {
  color: #ffffff !important;
}
