$radius: 4px;
$gray: #505050;
$gray-lighten-1: #aaaaaa;
$white: #ffffff;
$black: #000000;
$semi-white: rgba(255, 255, 255, 0.6);
$main-color: #3c9dcc;
$input-label-color: #757575 !default;
$transition-time: 500ms;

$screen-breakpoint: 992px;
$screen-breakpoint2: 768px;
$screen-breakpoint-lg: 992px;
$screen-breakpoint-md: 768px;
$screen-breakpoint-sm: 576px;

$loading-page-height: 500px;

$postitem-media-maxheight: 180px;

$form-margin-top: 100px;
$page-margin-top: 100px;
$button-icon-margin: 8px;

$no-col-width: 60px;
$edit-col-width: 98px;

$section-margin-top: 120px;

$footer-margin-bottom: 90px;

$listview-item-height: 280px;
